mat-card {
  background-color: white;
  width: 100%;
  margin: 25px 0;
  box-shadow: 0px 16px 24px rgba(0, 102, 102, 0.14),
    0px 6px 30px rgba(0, 102, 102, 0.12), 0px 8px 10px rgba(0, 102, 102, 0.2) !important;
}

:host {
  width: 100%;
  .item {
    padding: 6px 10px;
    margin: 20px 0;
    border: 1px solid rgba(0, 0, 0, 0.31);
    width: 100%;

    p {
      margin: 0;
    }
  }
}
