<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio fuga nulla non quisquam pariatur. Similique ullam
      necessitatibus ratione molestias eum placeat quae quas consectetur veritatis id impedit, reprehenderit odio!
      Laboriosam.
    </p>
    <p>ДА ЭТО ЖЕ ПОЧТИ ПЛАТФОРМА!!! :)</p>
  </mat-drawer>

  <app-top-bar [sidenav]="drawer"></app-top-bar>

  <div class="container">
    <app-data-list></app-data-list>
  </div>

</mat-drawer-container>