<mat-drawer-container autosize>
  <mat-drawer #drawer mode="over">
    <div style="width: 100%; display: flex; justify-content: flex-end;">
      <button mat-icon-button aria-label="Example icon button with a menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio fuga nulla non quisquam pariatur. Similique ullam
      necessitatibus ratione molestias eum placeat quae quas consectetur veritatis id impedit, reprehenderit odio!
      Laboriosam.
    </p>
    <p>ДА ЭТО ЖЕ ПОЧТИ ПЛАТФОРМА!!! :)</p>
  </mat-drawer>

  <app-top-bar [sidenav]="drawer"></app-top-bar>

  <div class="container">
    <app-data-list></app-data-list>
  </div>

</mat-drawer-container>